<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords"
          content="Ten loai benh, Ten loai benh, Similar Samples, You are in the right place, Our clients, Subscribe to our newsletter &amp; be in touch., INTUITIVE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Cassacare | Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/result/nicepage.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/result/Home.css') }}" media="screen">
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/result/jquery.js') }}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/result/nicepage.js') }}" defer=""></script>
    <meta name="generator" content="Nicepage 3.12.1, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <!-- fevicon -->
    <link rel="icon" href="{{ url_for('static', filename = 'images/fevicon.png') }}" type="image/gif"/>

    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "index.html",
        "logo": "images/cassacare-logo.png"
    }</script>
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body data-home-page="Home.html" data-home-page-title="Home" class="u-body">
<header class="u-clearfix u-custom-color-1 u-header u-header" id="sec-f629">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="595" data-image-height="85">
            <img src="{{ url_for('static', filename='images/cassacare-logo.png') }}" class="u-logo-image u-logo-image-1" data-image-width="371">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </symbol>
                        </defs>
                    </svg>
                </a>
            </div>
            <div class="u-nav-container">
                <ul class="u-nav u-unstyled u-nav-1">
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            href="Home.html" style="padding: 10px 20px;">Home</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            href="About.html" style="padding: 10px 20px;">About</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            href="Contact.html" style="padding: 10px 20px;">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html">Home</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="About.html">About</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
    </div>
</header>
<section class="u-clearfix u-image u-section-1" id="carousel_8e7d" data-image-width="1600" data-image-height="1067">
    <div class="u-expanded u-opacity u-opacity-70 u-palette-2-dark-3 u-shape u-shape-rectangle u-shape-1"></div>
    <div class="u-container-style u-expanded-width-md u-group u-group-1">
        <div class="u-container-layout u-container-layout-1">
            <h1 class="u-heading-font u-text u-text-white u-text-1">{{ disease }}</h1>
            <p class="u-text u-text-font u-text-white u-text-2">{{ information }}<br>
            </p>
            {% if isVideo %}
                <video style="left: auto; right: 0;" width="600" height="400" class="u-align-right u-expanded-height u-video" controls>
                <source src="{{ url_for('static', filename=inputPath) }}" type="video/mp4">
                 Your browser does not support the video tag.
                </video>
            {% else %}
                <img src="{{ url_for('static', filename=inputPath) }}" alt=""
                 class="u-align-right u-expanded-height u-image u-image-default u-image-1" data-image-width="364"
                 data-image-height="244">
            {% endif %}
          </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-typography-Normal--Basic-Headlines u-white u-section-2" id="carousel_bbc3">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-expanded-width-lg u-expanded-width-md u-group u-similar-fill u-group-1">
            <div class="u-container-layout u-valign-middle-md u-container-layout-1">
                <h2 class="u-align-center u-text u-text-1">{{ details['name'] }}</h2>

                {% for item in details['subtitles'] %}
                    <h3 class="u-align-left u-text">{{ item['subtitle'] }}</h3>
                    <p class="u-align-center u-expanded-width u-text u-text-2" style="text-align: justify;"> {{ item['content'] }}
                    </p>
                {% endfor %}

                <a href="https://nicepage.com/k/announcement-html-templates"
                   class="u-btn u-btn-round u-button-style u-custom u-palette-1-base u-radius-10 u-text-white u-btn-1">Our
                    services</a>
                <a href="https://nicepage.com/k/auto-mechanic-html-templates"
                   class="u-btn u-btn-round u-button-style u-custom u-palette-3-base u-radius-10 u-text-white u-btn-2">contact
                    us</a>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-white u-section-3" id="carousel_56cf">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-style u-group u-similar-fill u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h2 class="u-heading-font u-text u-text-1">Similar Images [{{ label }}]<br>
                </h2>
            </div>
        </div>
        <div class="u-clearfix u-disable-padding u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
{#                <div class="u-layout-col class_{{ label }}">#}
                <div class="u-layout-col class_1">
                    <div class="u-size-30 u-size-60-md">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-similar-fill u-size-20 u-size-20-md u-image-1">
                                <div class="u-container-layout"></div>
                            </div>
                            <div class="u-align-left u-container-style u-image u-layout-cell u-similar-fill u-size-20 u-size-20-md u-image-2">
                                <div class="u-container-layout"></div>
                            </div>
                            <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-similar-fill u-size-20 u-size-20-md u-image-3">
                                <div class="u-container-layout"></div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30 u-size-60-md">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-similar-fill u-size-20 u-size-20-md u-image-4">
                                <div class="u-container-layout"></div>
                            </div>
                            <div class="u-align-left u-container-style u-image u-layout-cell u-similar-fill u-size-20 u-size-20-md u-image-5">
                                <div class="u-container-layout"></div>
                            </div>
                            <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-similar-fill u-size-20 u-size-20-md u-image-6">
                                <div class="u-container-layout"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="https://nicepage.com/k/card-html-templates"
           class="u-btn u-button-style u-custom u-palette-1-base u-text-white u-btn-1">Need our help?</a>
    </div>
</section>
<section class="u-clearfix u-palette-1-light-3 u-typography-Normal--Basic-Headlines u-section-4" id="carousel_13c4">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-style u-expanded-width-md u-group u-similar-fill u-group-1">
            <div class="u-container-layout u-padding-12 u-valign-middle u-container-layout-1">
                <h2 class="u-text u-text-1">You are in the right place</h2>
                <div class="u-align-left u-border-5 u-border-palette-3-base u-line u-line-horizontal u-line-1"></div>
                <p class="u-text u-text-grey u-text-2">As the second-largest provider of carbohydrates in Africa, cassava is a key food security crop grown by smallholder farmers because it can withstand harsh conditions. At least 80% of household farms in Sub-Saharan Africa grow this starchy root, but viral diseases are major sources of poor yields. With the help of data science, it may be possible to identify common diseases so they can be treated. <br>

Existing methods of disease detection require farmers to solicit the help of government-funded agricultural experts to visually inspect and diagnose the plants. This suffers from being labor-intensive, low-supply and costly. As an added challenge, effective solutions for farmers must perform well under significant constraints, since African farmers may only have access to mobile-quality cameras with low-bandwidth.<br>

Our Cassacare classify each cassava image into four disease categories or a fifth category indicating a healthy leaf. Hopefully, with our help, farmers may be able to quickly identify diseased plants, potentially saving their crops before they inflict irreparable damage.</p>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer class="u-align-center u-clearfix u-custom-color-1 u-footer u-footer" id="sec-e15d">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">&copy; 2021 Cassacare | DESIGN BY <a href="#">@thienkhutu</a></p>
    </div>
</footer>
<!-- FOOTER ENDS -->

</body>
</html>