.u-section-1 {
  background-image: url("/static/images/cassava-bg-00.jpg");
  background-position: 50% 50%;
  min-height: 847px;
}

.u-section-1 .u-shape-1 {
  background-image: none;
}

.u-section-1 .u-group-1 {
  width: 1140px;
  min-height: 399px;
  height: auto;
  margin: 232px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 100px 620px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 620px 0 0;
}

.u-section-1 .u-image-1 {
  width: 477px;
  left: auto;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 698px;
  }

  .u-section-1 .u-group-1 {
    width: 590px;
    position: relative;
    margin-bottom: 0;
    margin-left: 90px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 0;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 179px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 535px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 43px;
    margin-right: 90px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: 221px;
    margin-bottom: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 401px;
  }

  .u-section-1 .u-group-1 {
    width: 423px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 103px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 134px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 50px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 65px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 499px;
}

.u-section-2 .u-group-1 {
  min-height: 426px;
  width: 958px;
  margin: 50px auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.4;
  margin: 65px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 81px auto 0 284px;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  margin: -42px 302px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-2 .u-group-1 {
    position: relative;
    min-height: 420px;
    margin-top: 97px;
    margin-bottom: 97px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
    margin-left: 264px;
  }

  .u-section-2 .u-btn-2 {
    position: relative;
    margin-right: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 527px;
    margin-top: 84px;
    margin-bottom: 84px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 32px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 186px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 191px;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    position: relative;
    margin: 0 calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-group-1 {
    min-height: 644px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 84px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
    margin-right: calc(((100% - 1140px) / 2) + 440px);
    margin-left: calc(((100% - 340px) / 2) + 149px);
  }

  .u-section-2 .u-group-1 {
    min-height: 594px;
    width: auto;
    margin: 56px -100px 56px 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: auto;
    margin-left: 189px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 916px;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 114px;
  margin: 25px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  margin: 10px 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 17px auto 0 0;
}

/*for class 0*/
.u-section-3 .class_0 .u-image-1 {
  background-image: url("/static/images/similar/class_0/1000015157.jpg");
  min-height: 313px;
  background-position: 50% 50%;
}

.u-section-3 .class_0 .u-image-2 {
  background-image: url("/static/images/similar/class_0/1001320321.jpg");
  min-height: 313px;
  background-position: 50% 50%;
}

.u-section-3 .class_0 .u-image-3 {
  background-image: url("/static/images/similar/class_0/1003888281.jpg");
  min-height: 313px;
  background-position: 50% 50%;
}

.u-section-3 .class_0 .u-image-4 {
  background-image: url("/static/images/similar/class_0/1012426959.jpg");
  min-height: 309px;
  background-position: 50% 50%;
}

.u-section-3 .class_0 .u-image-5 {
  background-image: url("/static/images/similar/class_0/1018973237.jpg");
  min-height: 309px;
  background-position: 50% 50%;
}

.u-section-3 .class_0 .u-image-6 {
  background-image: url("/static/images/similar/class_0/102039365.jpg"); min-height: 309px;
  background-position: 50% 50%;
}

/*for class 1*/
.u-section-3 .class_1 .u-image-1 {
  background-image: url("/static/images/similar/class_1/100042118.jpg");
  min-height: 313px;
  background-position: 50% 50%;
}

.u-section-3 .class_1 .u-image-2 {
  background-image: url("/static/images/similar/class_1/1000723321.jpg");
  min-height: 313px;
  background-position: 50% 50%;
}

.u-section-3 .class_1 .u-image-3 {
  background-image: url("/static/images/similar/class_1/1002088496.jpg");
  min-height: 313px;
  background-position: 50% 50%;
}

.u-section-3 .class_1 .u-image-4 {
  background-image: url("/static/images/similar/class_1/1009148537.jpg");
  min-height: 309px;
  background-position: 50% 50%;
}

.u-section-3 .class_1 .u-image-5 {
  background-image: url("/static/images/similar/class_1/1008142548.jpg");
  min-height: 309px;
  background-position: 50% 50%;
}

.u-section-3 .class_1 .u-image-6 {
  background-image: url("/static/images/similar/class_1/101253257.jpg"); min-height: 309px;
  background-position: 50% 50%;
}

/*for class 2*/
.u-section-3 .class_2 .u-image-1 {
  background-image: url("/static/images/similar/class_2/1000910826.jpg");
  min-height: 313px;
  background-position: 50% 50%;
}

.u-section-3 .class_2 .u-image-2 {
  background-image: url("/static/images/similar/class_2/1003218714.jpg");
  min-height: 313px;
  background-position: 50% 50%;
}

.u-section-3 .class_2 .u-image-3 {
  background-image: url("/static/images/similar/class_2/100472565.jpg");
  min-height: 313px;
  background-position: 50% 50%;
}

.u-section-3 .class_2 .u-image-4 {
  background-image: url("/static/images/similar/class_2/1004826518.jpg");
  min-height: 309px;
  background-position: 50% 50%;
}

.u-section-3 .class_2 .u-image-5 {
  background-image: url("/static/images/similar/class_2/1005200906.jpg");
  min-height: 309px;
  background-position: 50% 50%;
}

.u-section-3 .class_2 .u-image-6 {
  background-image: url("/static/images/similar/class_2/100533489.jpg"); min-height: 309px;
  background-position: 50% 50%;
}

/* for class 3 */
.u-section-3 .class_3 .u-image-1 {
  background-image: url("/static/images/similar/class_3/1000201771.jpg");
  min-height: 313px;
  background-position: 50% 50%;
}

.u-section-3 .class_3 .u-image-2 {
  background-image: url("/static/images/similar/class_3/1000812911.jpg");
  min-height: 313px;
  background-position: 50% 50%;
}

.u-section-3 .class_3 .u-image-3 {
  background-image: url("/static/images/similar/class_3/1000837476.jpg");
  min-height: 313px;
  background-position: 50% 50%;
}

.u-section-3 .class_3 .u-image-4 {
  background-image: url("/static/images/similar/class_3/1001742395.jpg");
  min-height: 309px;
  background-position: 50% 50%;
}

.u-section-3 .class_3 .u-image-5 {
  background-image: url("/static/images/similar/class_3/1001749118.jpg");
  min-height: 309px;
  background-position: 50% 50%;
}

.u-section-3 .class_3 .u-image-6 {
  background-image: url("/static/images/similar/class_3/100204014.jpg"); min-height: 309px;
  background-position: 50% 50%;
}

/*for class 4*/
.u-section-3 .class_4 .u-image-1 {
  background-image: url("/static/images/similar/class_4/1001723730.jpg");
  min-height: 313px;
  background-position: 50% 50%;
}

.u-section-3 .class_4 .u-image-2 {
  background-image: url("/static/images/similar/class_4/1003442061.jpg");
  min-height: 313px;
  background-position: 50% 50%;
}

.u-section-3 .class_4 .u-image-3 {
  background-image: url("/static/images/similar/class_4/100560400.jpg");
  min-height: 313px;
  background-position: 50% 50%;
}

.u-section-3 .class_4 .u-image-4 {
  background-image: url("/static/images/similar/class_4/1009126931.jpg");
  min-height: 309px;
  background-position: 50% 50%;
}

.u-section-3 .class_4 .u-image-5 {
  background-image: url("/static/images/similar/class_4/1010806468.jpg");
  min-height: 309px;
  background-position: 50% 50%;
}

.u-section-3 .class_4 .u-image-6 {
  background-image: url("/static/images/similar/class_4/1011571614.jpg"); min-height: 309px;
  background-position: 50% 50%;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 56px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-3 .u-group-1 {
    width: 470px;
    position: relative;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-1 {
    position: relative;
    margin-left: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1535px;
  }

  .u-section-3 .u-group-1 {
    width: 360px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 55px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2157px;
  }

  .u-section-3 .u-group-1 {
    width: 338px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 60px;
    margin-bottom: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 283px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 65px;
    margin-bottom: 50px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 499px;
}

.u-section-4 .u-group-1 {
  min-height: 399px;
  width: 843px;
  margin: 50px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 40px auto 0;
}

.u-section-4 .u-line-1 {
  position: relative;
  transform-origin: left center 0;
  width: 47px;
  transform: rotate(359.994deg);
  margin: 27px auto 0;
}

.u-section-4 .u-text-2 {
  width: 649px;
  margin: 30px auto 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-4 .u-group-1 {
    position: relative;
    min-height: 250px;
    width: 754px;
    margin-top: 93px;
    margin-bottom: 93px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    font-size: 3.75rem;
  }

  .u-section-4 .u-line-1 {
    width: 39px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    width: 535px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    min-height: 377px;
    margin-top: 84px;
    margin-bottom: 84px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-4 .u-line-1 {
    width: 30px;
  }

  .u-section-4 .u-text-2 {
    width: 574px;
    margin-top: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    position: relative;
    margin: 0 calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-4 .u-line-1 {
    width: 28px;
  }

  .u-section-4 .u-text-2 {
    width: 384px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 600px;
    margin-right: calc(((100% - 1140px) / 2) + 440px);
    margin-left: calc(((100% - 340px) / 2) + 149px);
  }

  .u-section-4 .u-group-1 {
    min-height: 488px;
    width: auto;
    margin: 56px -100px 56px 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-line-1 {
    width: 23px;
  }

  .u-section-4 .u-text-2 {
    width: 323px;
  }
}