<!DOCTYPE html>
<!--
	Shine by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cassacare | Home Page</title>


    <!-- WEB FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <!-- UPLOAD FILE CUSTOM STYLING -->
    <link href="{{ url_for('static', filename="css/upload-file.css") }}" rel="stylesheet">
    <!-- CUSTOM STYLING -->
    <link href="{{ url_for('static', filename="css/styles.css") }}" rel="stylesheet">
    <!-- BOOTSTRAP -->
    <link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">
    <!-- FONT AWESOME -->
    <link href="{{ url_for('static', filename="css/font-awesome.min.css") }}" rel="stylesheet">
    <!-- PRELOADER -->
    <link href="{{ url_for('static', filename="css/loader.css") }}" rel="stylesheet">
    <!-- fevicon -->
    <link rel="icon" href="{{ url_for('static', filename = 'images/fevicon.png') }}" type="image/gif"/>

</head>

<body>
<!-- PRELOADER -->
<div id="loader-wrapper">
    <div id="loader">
        <div class="sk-spinner sk-spinner-cube-grid">
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
            <div class="sk-cube"></div>
        </div>
    </div>
</div>

<!-- HEADER -->
<section id="header">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8">
                <img class="logo" src="{{ url_for('static', filename = "images/cassacare-logo.png") }}"/>
                <h1 class="white-text">Welcome to CassaCare</h1>
                <h5 class="white-text">Our happiness is helping household farmers to detect and reduce the harm of diseases on cassava.</h5>
                {#                <button class="button-leweb" type="button">#}
                {#                    <a data-scroll href="#subscribe">Get start!</a></button>#}

                <div style="margin-top: 50px;">
                    <button data-sr="enter bottom over 1s, wait 0.3s, move 24px, reset" data-scroll="#subscribe" type="button"
                        class="button-leweb">Get start!
                    </button>
                </div>

                {#                <a class="button-leweb" data-scroll href="#subscribe">Get start!</a>#}
                <div id="countdown" class="white-text"></div>
            </div>
        </div>
    </div>
    <div class="animation">
        <a class="arrow-down-animation" data-scroll href="#about"><i class="fa fa-angle-down"></i></a>
    </div>
</section>
<!-- HEADER ENDS -->

<!-- ABOUT -->
<section id="about">
    <div class="container">
        <div class="row text-center">
            <!-- Section 1 -->
            <div data-sr="enter top over 1s, wait 0.3s, move 24px, reset" class="col-md-4">
{#                <i class="fa fa-laptop"></i>#}
                <i class="fa fa-rocket"></i>
                <h3>AI Detecting</h3>
                <div class="colored-line-small-center"></div>
                <p>Using Vision Transformer to detect diseases.</p>
            </div>
            <!-- Section 2 -->
            <div data-sr="enter bottom over 1s, wait 0.3s, move 24px, reset" class="col-md-4 middle">
{#                <i class="fa fa-lightbulb-o"></i>#}
                <i class="fa fa-newspaper-o"></i>
                <h3>Useful information</h3>
                <div class="colored-line-small-center"></div>
                <p>Provide very useful information about the disease.</p>
            </div>
            <!-- Section 3 -->
            <div data-sr="enter top over 1s, wait 0.3s, move 24px, reset" class="col-md-4">
{#                <i class="fa fa-newspaper-o"></i>#}
                <i class="fa fa-lightbulb-o"></i>
                <h3>Solutions</h3>
                <div class="colored-line-small-center"></div>
                <p>Provide the most effective solutions that are validate with professors.</p>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT ENDS -->

<!-- SUBSCRIBE -->
<section id="subscribe">
    <div class="container">
        <i data-sr="ease-in over 1s, reset" class="fa fa-leaf icontop"></i>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h2 data-sr="enter top over 1s, wait 0.3s, move 24px, reset" class="white-text">
                    Cassava leaf diseases prediction</h2>
                <h5 data-sr="enter bottom over 1s, wait 0.3s, move 24px, reset" class="white-text">
                    Provide a picture or a video about your cassava leaf</h5>
                <!-- UPLOAD FILE FORM -->

                <form action="upload_image" method="POST" enctype="multipart/form-data">
                    <div class="file-upload">
                        <button class="file-upload-btn" type="button"
                                onclick="$('.file-upload-input').trigger( 'click' )">
                            Add Image Or Video
                        </button>

                        <div class="image-upload-wrap">
                            <input id="userInput" name="file" class="file-upload-input" type='file' onchange="function readURL(input) {
                            if (input.files && input.files[0]) {
                                g_input = input;
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    $('.image-upload-wrap').hide();

                                    $('.file-upload-image').attr('src', e.target.result);
                                    $('.file-upload-content').show();

                                    $('.image-title').html(input.files[0].name);
                                };

                            reader.readAsDataURL(input.files[0]);

                            } else {
                                removeUpload();
                            }
                        }
                        readURL(this);" />
                            <div class="drag-text">
                                <h3>Drag and drop a file or select add Image or Video</h3>
                            </div>
                        </div>
                        <div class="file-upload-content">
                            <img class="file-upload-image backup_picture" src="#" alt="your file"/>
                            <div class="image-title-wrap">
                                <button type="button" onclick="function removeUpload() {
                                $('.file-upload-input').replaceWith($('.file-upload-input').clone());
                                $('.file-upload-content').hide();
                                $('.image-upload-wrap').show();
                            }
                            removeUpload()" class="remove-image">Remove <span
                                        class="image-title">Uploaded File</span></button>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 50px;">
                        <button data-sr="enter bottom over 1s, wait 0.3s, move 24px, reset" type="submit"
                                class="button-leweb">Submit
                        </button>
                    </div>
                </form>
                {#                <form class="form-control" action="upload" enctype="multipart/form-data" id="uploadPic" method="POST">#}
                {#                    <div class="file-upload-wrapper" data-text="Select your file!">#}
                {#                        <input id="subomay" name="file" type="file" class="file-upload-field" value="">#}
                {#                    </div>#}
                {##}
                {#                    <button data-sr="enter bottom over 1s, wait 0.3s, move 24px, reset" type="submit"#}
                {#                            class="button-leweb">Submit#}
                {#                    </button>#}
                {#                </form>#}

                {#                <form id="mc_form" role="form" action="upload">#}
                {#                    <div>#}
                {#                        <input data-sr="enter top over 1s, wait 0.3s, move 24px, reset" type="email"#}
                {#                               class="form-control"#}
                {#                               id="mc-email" name="file" placeholder="URL of your image"/>#}
                {#                        <button data-sr="enter bottom over 1s, wait 0.3s, move 24px, reset" type="submit"#}
                {#                                class="button-leweb">Upload#}
                {#                        </button>#}
                {#                    </div>#}
                {#                    <button data-sr="enter bottom over 1s, wait 0.3s, move 24px, reset" type="submit"#}
                {#                            class="button-leweb">Submit#}
                {#                    </button>#}
                {#                    <label for="mc-email" class="mc-email"></label>#}
                {#                </form>#}
                <!-- UPLOAD FILE FORM ENDS -->
            </div>
        </div>
    </div>
</section>
<!-- SUBSCRIBE ENDS -->

<!-- CONTACT US -->
<section id="contact">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <!-- CONTACT FORM -->
                <form method="post" action="">
                    <p data-sr="enter top over 1s, wait 0.3s, move 24px, reset" class="contact-info text-center">Get in
                        Contact. Fill up the form below. All fields are required.</p>
                    <div data-sr="enter left over 1s, wait 0.3s, move 24px, reset" class="form-group col-md-6">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name"/>
                    </div>
                    <div data-sr="enter right over 1s, wait 0.3s, move 24px, reset" class="form-group col-md-6">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email"/>
                    </div>
                    <div data-sr="enter bottom over 1s, wait 0.3s, move 24px, reset" class="form-group col-md-12">
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number"/>
                    </div>
                    <div data-sr="enter bottom over 1s, wait 0.3s, move 24px, reset" class="form-group col-md-12">
                        <textarea cols="60" rows="3" id="comment" name="comment" class="form-control"
                                  placeholder="Write your comment here..."></textarea>
                    </div>
                    <div data-sr="enter bottom over 1s, wait 0.3s, move 24px, reset" class="form-group col-sm-12 ">
                        <button type="submit" class="button-leweb">Send Message</button>
                    </div>
                </form>

                <!-- AFTER SENDING MESSAGE -->
                <div id="success" class="col-md-12 col-sm-12 text-center">
                    <i class="fa fa-check-circle"></i>
                    <strong>Message successfully sent</strong>
                    <p>Thanks for contacting us. We will respond to you as soon as possible!</p>
                </div>
                <!-- CONTACT FORM ENDS -->
            </div>
        </div>
    </div>
</section>
<!-- CONTACT ENDS -->

<!-- FOOTER -->
<footer id="footer">
    <div class="container">
        <div class="row text-center">
            <p>
                &copy; 2021 Cassacare | DESIGN BY <a href="#">@thienkhutu</a>
                <span class="social">
							<a href="#"><i class="fa fa-facebook-square"></i></a>
							<a href="#"><i class="fa fa-twitter-square"></i></a> 
							<a href="#"><i class="fa fa-google-plus-square"></i></a>
						</span>
            </p>
        </div>
    </div>
</footer>
<!-- FOOTER ENDS -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
<!-- SMOOTH SCROLL -->
<script src="{{ url_for('static', filename="js/smooth-scroll.min.js") }}"></script>
<!-- PARALLAX IMG -->
<script src="{{ url_for('static', filename="js/jquery.parallax-1.1.3.js") }}"></script>
<!-- SCROLL REVEAL -->
<script src="{{ url_for('static', filename="js/scrollReveal.min.js") }}"></script>
<!-- FUNCTIONS -->
<script src="{{ url_for('static', filename="js/functions.js") }}"></script>

</body>
</html>