<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Pure CSS File Upload Field</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- <link rel="stylesheet" href="./style.css"> -->

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <form class="form" action="upload" enctype="multipart/form-data" id="uploadPic" method="POST">
    <div class="file-upload-wrapper" data-text="Select your file!">
      <input name = "file" type="file" class="file-upload-field" value="">
    </div>
    <button  type="submit">submit</button>
  </form>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{{ url_for('static', filename="js/script.js")}}"></script>


